In [6]:
#Ejercicios listas 2
#Cread una lista con 10 números aleatorios entre el 0 y el 100.
#Para esto tendréis que ejecutar el siguiente código:

import random
lista = random.sample(range(1,100), 10)
print(lista)

[79, 28, 74, 95, 97, 36, 96, 24, 63, 47]

In [7]:
#¿Cuál es la longitud de la lista? Utilizad métodos de Python para extraer este resultado.
len(lista)

10

In [8]:
#Extraed el número que está en la tercera posición. Recordad que los índices en Python empiezan en 0 
#y que no corresponden con las "posiciones humanas"
lista[3]

95

In [9]:
#Extraed el número que esta en la tercera posición utilizando los índices negativos.
lista[-7]

95

In [10]:
#Preguntad al usuario por un número de la lista que hemos creado en el primer paso, 
# En clase lo han hecho así: la_respuesta = int(input("dime un número"))
print("¿Qué número quieres coger entre", lista, "?", input())

¿Qué número quieres coger entre [79, 28, 74, 95, 97, 36, 96, 24, 63, 47] ? 28

In [12]:
#¿En que posición esta el número que ha eligido la usuaria?
lista.index(28)

1

In [13]:
#Extraed los valores que estén entre la tercera posición y la quinta (ambos inclusive). 
#Esto nos tendrá que devolver una lista de 3 elementos.

lista[3:6]

[95, 97, 36]

In [14]:
#Extraed los valores que estén entre las posiciones 6 y 9 utilizando índices negativos.
#  Os debe devolver una lista con 4 números.
lista[-4:]

[96, 24, 63, 47]

In [15]:
#¿Cuáles son los numéros que están en las posiciones pares nuestra lista?
#[33, 21, 69, 17, 10, 22, 28, 56, 14, 8]
lista[::2]

[79, 74, 97, 96, 63]

In [16]:
#¿Y los que están en posiciones impares?
lista[1::2]

[28, 95, 36, 24, 47]

In [17]:
nombres = ["Laura", "Lorena", "Lupe", "Loreto", "Lucía"]

notas = [9, 8.5, 9.8, 8.9, 9.2]

#¿Qué nota ha sacado Lupe? Para este ejercicio os pedimos que uséis primero el método index() de listas 
# y luego lo índices con [] de las listas. Para esto tendréis que sacar primero en que posición esta Lupe en la lista nombres 
#y usar el resultado de este paso para acceder ,usando los índices de Python, a la nota de Lupe.

nombres.index("Lupe")

2

In [18]:
notas[2]

9.8

In [19]:
#De la misma forma, ¿qué alumna a sacado la nota más alta? 
# Tendréis que poner en práctica, métodos aprendidos hoy y en la lección de listas de ayer.
max(notas)
notas.index(9.8)
nombres[2]

'Lupe'

In [20]:
#Qué alumna a sacado la nota más baja? ¿Es esta nota mayor que 5?
min(notas)
notas.index(8.5)
nombres[1]

'Lorena'

In [ ]:
#Ordenad la lista de notas de mayor a menor y almacenalo en una nueva variable llamada notas_nuevo_orden
notas_nuevo_orden = print(sorted(notas, reverse = True))

[9.8, 9.2, 9, 8.9, 8.5]

In [25]:
#Ordenad las notas de las alumnas de mayor a menor. Usa el método que sobreescriba la variable notas.
notas.sort(reverse=True)
print(notas)

[9.8, 9.2, 9, 8.9, 8.5]

In [ ]:
#Ordenad la lista de nombres de mayor a menor. ¿Qué es lo que ha pasado?
print(sorted(nombres, reverse =True))

['Lupe', 'Lucía', 'Loreto', 'Lorena', 'Laura']

In [26]:
#Borrad la lista de notas.
del notas

In [27]:
print(notas)

NameError: name 'notas' is not defined

In [57]:
#Dadas las siguientes listas:
lunes = [34,56,82]
martes = [99, 64, 24]
miercoles = [12, 59, 71]

In [58]:
#Unid las tres listas de forma que tengamos el siguiente output
lunes.append(martes) 
print(lunes)

[34, 56, 82, [99, 64, 24]]

In [59]:
lunes.append(miercoles)
print(lunes)
#No entendemos por qué no funciona si hacemos nueva_varible = lunes.append(miercoles)

[34, 56, 82, [99, 64, 24], [12, 59, 71]]

In [61]:
#Definid de nuevo la tres listas. 
lunes1 = [34,56,82]
martes1 = [99, 64, 24]
miercoles1 = [12, 59, 71]

lunes1.extend(martes1)
lunes1.extend(miercoles1)
print(lunes1)

[34, 56, 82, 99, 64, 24, 12, 59, 71]

In [104]:
#Definid de nuevo las tres listas. Insertad los siguientes valores:
#En la lista lunes un 100 en la primera posición
#En la lista martes un 100 en la tercera posición
#En la lista miercoles un 100 en la última posición

lunes2 = [34,56,82]
martes2 = [99, 64, 24]
miercoles2 = [12, 59, 71]

In [105]:
lunes2.insert(0,100)
print(lunes2)
martes2.insert(2,100)
print(martes2)
miercoles2.insert(len(miercoles2),100)
print(miercoles2)

[100, 34, 56, 82]
[99, 64, 100, 24]
[12, 59, 71, 100]